<a href="https://colab.research.google.com/github/Abdulmukhtor/ML-Supervised--learning-2-bolim/blob/main/Colaboratory%EC%97%90_%EC%98%A4%EC%8B%A0_%EA%B2%83%EC%9D%84_%ED%99%98%EC%98%81%ED%95%A9%EB%8B%88%EB%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loyihalar tahlili (KLIB orqali)

In [35]:
!git clone https://github.com/Abdulmukhtor/ML-Supervised--learning-2-bolim/blob/main/1-dars%20vazifa/Bank_Personal_Loan_Modelling.csv

Cloning into 'Bank_Personal_Loan_Modelling.csv'...
fatal: repository 'https://github.com/Abdulmukhtor/ML-Supervised--learning-2-bolim/blob/main/1-dars%20vazifa/Bank_Personal_Loan_Modelling.csv/' not found

In [34]:
import pandas as pd

# urlda raw yozilishining sababi githubdagi fayllarning asosiy (default) URLsi veb-sahifa  ko'rinishida bo'ladi , bu esa pandas.read_csv()da o'qilamydi
url = "https://raw.githubusercontent.com/Abdulmukhtor/ML-Supervised--learning-2-bolim/main/1-dars%20vazifa/Bank_Personal_Loan_Modelling.csv"
#"Raw" versiya — bu faqat faylning o‘zini ko‘rsatadigan URL. Uni GitHub interfeysidan olish mumkin
df = pd.read_csv(url)  # yangilangan URL
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

KUTUBXONALARNI yuklab olish

In [37]:
!pip install zipcodes
!pip install pgeocode
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import pgeocode
from sklearn.model_selection import train_test_split, KFold, cross_val_score , GridSearchCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import classification_report,confusion_matrix,precision_score,jaccard_score,recall_score,f1_score,fbeta_score, make_scorer,accuracy_score
from sklearn.linear_model import LogisticRegression #  Model tanlashda LinearRegression o'rniga LogisticRegression tanlanishining sababi OUTPUT qiymat class (categorical) "ha/yo'q","0/1","spam/non-spam"
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error,r2_score,accuracy_score
from sklearn.naive_bayes import GaussianNB,MultinomialNB,ComplementNB
from sklearn.neighbors import KNeighborsClassifier
from imblearn.over_sampling import SMOTE , ADASYN
from imblearn.under_sampling import TomekLinks , EditedNearestNeighbours
from imblearn.pipeline import Pipeline
from sklearn import metrics
import warnings
warnings.filterwarnings("ignore")
os.environ["PYTHONWARNINGS"] = "ignore"

Requirement already satisfied: zipcodes in /usr/local/lib/python3.11/dist-packages (1.3.0)
Requirement already satisfied: pgeocode in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from pgeocode) (2.32.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from pgeocode) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from pgeocode) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->pgeocode) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->pgeocode) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->pgeocode) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->pgeocode) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->pgeocode) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->pgeocode) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->pgeocode) (2025.1.31)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->pgeocode) (1.17.0)

Data Pre Processing

In [38]:
#Ma'lumotlar jadvali tuzish

df = pd.DataFrame(df)
df

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,19.2,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,18.0,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,12.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,32.4,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,12.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,22.8,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,4.8,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,3.6,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,6.0,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,9.6,1,0,0,0,0,1,1

In [39]:
# Kearaksiz ustunlarni tashlab yuborish

df.drop(['ID'],axis=1,inplace =True)
df

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,91107,4,19.2,1,0,0,1,0,0,0
1,45,19,34,90089,3,18.0,1,0,0,1,0,0,0
2,39,15,11,94720,1,12.0,1,0,0,0,0,0,0
3,35,9,100,94112,1,32.4,2,0,0,0,0,0,0
4,35,8,45,91330,4,12.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,92697,1,22.8,3,0,0,0,0,1,0
4996,30,4,15,92037,4,4.8,1,85,0,0,0,1,0
4997,63,39,24,93023,2,3.6,3,0,0,0,0,0,0
4998,65,40,49,90034,3,6.0,2,0,0,0,0,1,0
4999,28,4,83,92612,3,9.6,1,0,0,0,0,1,1

In [ ]:
# Qayta takrorlangan elementlarni chiqarish

print(len(df[df.duplicated()]))

0

In [ ]:
# tushib qolgan qiymatlarni tekshirish

df.isna().sum()

Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [ ]:
df.isnull().sum()

Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   int64
 1   Experience          5000 non-null   int64
 2   Income              5000 non-null   int64
 3   ZIP Code            5000 non-null   int64
 4   Family              5000 non-null   int64
 5   CCAvg               5000 non-null   float64
 6   Education           5000 non-null   int64
 7   Mortgage            5000 non-null   int64
 8   Personal Loan       5000 non-null   int64
 9   Securities Account  5000 non-null   int64
 10  CD Account          5000 non-null   int64
 11  Online              5000 non-null   int64
 12  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(12)
memory usage: 507.9 KB

In [ ]:
# dataset haqida umumiy ma'lumotni chiqarish
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,5000.0,45.338400,11.463166,23.0,35.0,45.0,55.0,67.0
Experience,5000.0,20.104600,11.467954,-3.0,10.0,20.0,30.0,43.0
Income,5000.0,73.774200,46.033729,8.0,39.0,64.0,98.0,224.0
ZIP Code,5000.0,93152.503000,2121.852197,9307.0,91911.0,93437.0,94608.0,96651.0
Family,5000.0,2.396400,1.147663,1.0,1.0,2.0,3.0,4.0
CCAvg,5000.0,1.937938,1.747659,0.0,0.7,1.5,2.5,10.0
Education,5000.0,1.881000,0.839869,1.0,1.0,2.0,3.0,3.0
Mortgage,5000.0,56.498800,101.713802,0.0,0.0,0.0,101.0,635.0
Personal Loan,5000.0,0.096000,0.294621,0.0,0.0,0.0,0.0,1.0
Securities Account,5000.0,0.104400,0.305809,0.0,0.0,0.0,0.0,1.0
CD Account,5000.0,0.060400,0.238250,0.0,0.0,0.0,0.0,1.0
Online,5000.0,0.596800,0.490589,0.0,0.0,1.0,1.0,1.0
CreditCard,5000.0,0.294000,0.455637,0.0,0.0,0.0,1.0,1.0

In [40]:
# biz bu yerda "Experience" ustunida "min" qiymatida manfiy qiymat borligini ko'rishimiz mumkin
# biz buni numpy kutubxonasining "abs" funksiyasi orqali musbat qiymatga aylantiramiz, chunki tajriba doimo o'suvchi musbat qiymat

df['Experience'] = df['Experience'].abs()

In [41]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,5000.0,45.338400,11.463166,23.0,35.0,45.0,55.0,67.0
Experience,5000.0,20.134600,11.415189,0.0,10.0,20.0,30.0,43.0
Income,5000.0,73.774200,46.033729,8.0,39.0,64.0,98.0,224.0
ZIP Code,5000.0,93152.503000,2121.852197,9307.0,91911.0,93437.0,94608.0,96651.0
Family,5000.0,2.396400,1.147663,1.0,1.0,2.0,3.0,4.0
CCAvg,5000.0,23.255256,20.971908,0.0,8.4,18.0,30.0,120.0
Education,5000.0,1.881000,0.839869,1.0,1.0,2.0,3.0,3.0
Mortgage,5000.0,56.498800,101.713802,0.0,0.0,0.0,101.0,635.0
Personal Loan,5000.0,0.096000,0.294621,0.0,0.0,0.0,0.0,1.0
Securities Account,5000.0,0.104400,0.305809,0.0,0.0,0.0,0.0,1.0
CD Account,5000.0,0.060400,0.238250,0.0,0.0,0.0,0.0,1.0
Online,5000.0,0.596800,0.490589,0.0,0.0,1.0,1.0,1.0
CreditCard,5000.0,0.294000,0.455637,0.0,0.0,0.0,1.0,1.0

In [42]:
# "Income" ustuni kabi yillik daromadga ega bo'lish uchun "CCAvg"ni 12ga ko'paytiramiz

df['CCAvg']=df['CCAvg'].astype(float)*12
df

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,91107,4,230.4,1,0,0,1,0,0,0
1,45,19,34,90089,3,216.0,1,0,0,1,0,0,0
2,39,15,11,94720,1,144.0,1,0,0,0,0,0,0
3,35,9,100,94112,1,388.8,2,0,0,0,0,0,0
4,35,8,45,91330,4,144.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,92697,1,273.6,3,0,0,0,0,1,0
4996,30,4,15,92037,4,57.6,1,85,0,0,0,1,0
4997,63,39,24,93023,2,43.2,3,0,0,0,0,0,0
4998,65,40,49,90034,3,72.0,2,0,0,0,0,1,0
4999,28,4,83,92612,3,115.2,1,0,0,0,0,1,1

In [43]:
discrete = ['Family' , 'Education' ,'Personal Loan' , 'Securities Account' , 'CD Account' , 'Online' , 'CreditCard']
continuous = ['Age' , 'Experience', 'Income', 'CCAvg' , 'Mortgage']

In [44]:
# DISCRETE = aniq, sanaladigan ustunlar qiymatlari

for i in discrete:
  print(f'{i}:{df[i].unique()}')

Family:[4 3 1 2]
Education:[1 2 3]
Personal Loan:[0 1]
Securities Account:[1 0]
CD Account:[0 1]
Online:[0 1]
CreditCard:[0 1]

klib

In [45]:
!pip install klib
import klib

Requirement already satisfied: klib in /usr/local/lib/python3.11/dist-packages (1.3.2)
Requirement already satisfied: jinja2>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from klib) (3.1.5)
Requirement already satisfied: matplotlib>=3.6.0 in /usr/local/lib/python3.11/dist-packages (from klib) (3.10.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.11/dist-packages (from klib) (1.26.4)
Requirement already satisfied: pandas<3.0,>=1.4 in /usr/local/lib/python3.11/dist-packages (from klib) (2.2.2)
Requirement already satisfied: plotly>=5.11.0 in /usr/local/lib/python3.11/dist-packages (from klib) (5.24.1)
Requirement already satisfied: scipy>=1.10.0 in /usr/local/lib/python3.11/dist-packages (from klib) (1.13.1)
Requirement already satisfied: screeninfo>=0.8.1 in /usr/local/lib/python3.11/dist-packages (from klib) (0.8.1)
Requirement already satisfied: seaborn>=0.12.0 in /usr/local/lib/python3.11/dist-packages (from klib) (0.13.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2>=3.1.0->klib) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.6.0->klib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.6.0->klib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.6.0->klib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.6.0->klib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.6.0->klib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.6.0->klib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.6.0->klib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.6.0->klib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0,>=1.4->klib) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0,>=1.4->klib) (2025.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from plotly>=5.11.0->klib) (9.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib>=3.6.0->klib) (1.17.0)

In [46]:
# datasetimizda 5000 qator, 13ta ustun bor
# duplicated elementlar yo'q
# missing valuelar yo'q
# memory usage 80%ga kamaygan
# 1.Klib qilishda agar missing valuelarni tashlab yuborishda bizda keraksiz, muhim bo'lmagan qatorlar bo'lsa,
# missing value handle qilishdagi kabi dataset katta bo'lsa, uncha muhim bo'lmagan qatorlarni drop qilib yuboradi
# 2.Ma'lumotlarni kompyuterga saqlash usuli bilan (data structure) bilan memory usagelarini kam olyapti
# 3.Katta harflarni kichik harflar bilan olyapti
# 4.Ustun nomlari orasidagi bo'sh joylarni olib tashlashyapti

df=klib.data_cleaning(df)

Shape of cleaned data: (5000, 13) - Remaining NAs: 0


Dropped rows: 0
     of which 0 duplicates. (Rows (first 150 shown): [])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.4 MB (-80.0%)

In [47]:
# memory usage 507.2 kbdan 102.7 kbga kamaygan
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 5000 non-null   int8
 1   experience          5000 non-null   int8
 2   income              5000 non-null   int16
 3   zip_code            5000 non-null   int32
 4   family              5000 non-null   int8
 5   ccavg               5000 non-null   float32
 6   education           5000 non-null   int8
 7   mortgage            5000 non-null   int16
 8   personal_loan       5000 non-null   int8
 9   securities_account  5000 non-null   int8
 10  cd_account          5000 non-null   int8
 11  online              5000 non-null   int8
 12  credit_card         5000 non-null   int8
dtypes: float32(1), int16(2), int32(1), int8(9)
memory usage: 102.7 KB

In [48]:
print(df["income"].describe()) # Min va max qiymatlarni ko‘rish

count    5000.000000
mean       73.774200
std        46.033729
min         8.000000
25%        39.000000
50%        64.000000
75%        98.000000
max       224.000000
Name: income, dtype: float64

In [49]:


print(df["income"].dtype)  # Hozirgi dtype ni tekshirish

print(df["income"].isna().sum())  # NaN qiymatlar bor yoki yo‘qligini tekshirish

print(df["income"].unique())  # Ustundagi barcha takrorlanmas qiymatlarni chiqarish

int16
0
[ 49  34  11 100  45  29  72  22  81 180 105 114  40 112 130 193  21  25
  63  62  43 152  83 158  48 119  35  41  18  50 121  71 141  80  84  60
 132 104  52 194   8 131 190  44 139  93 188  39 125  32  20 115  69  85
 135  12 133  19  82 109  42  78  51 113 118  64 161  94  15  74  30  38
   9  92  61  73  70 149  98 128  31  58  54 124 163  24  79 134  23  13
 138 171 168  65  10 148 159 169 144 165  59  68  91 172  55 155  53  89
  28  75 170 120  99 111  33 129 122 150 195 110 101 191 140 153 173 174
  90 179 145 200 183 182  88 160 205 164  14 175 103 108 185 204 154 102
 192 202 162 142  95 184 181 143 123 178 198 201 203 189 151 199 224 218]

Model selection

In [ ]:
df.columns

Index(['age', 'experience', 'income', 'zip_code', 'family', 'ccavg',
       'education', 'mortgage', 'personal_loan', 'securities_account',
       'cd_account', 'online', 'credit_card'],
      dtype='object')

In [ ]:
df.nunique()

age                    45
experience             44
income                162
zip_code              467
family                  4
ccavg                 108
education               3
mortgage              347
personal_loan           2
securities_account      2
cd_account              2
online                  2
credit_card             2
dtype: int64

In [ ]:
df.head()

,age,experience,income,zip_code,family,ccavg,education,mortgage,personal_loan,securities_account,cd_account,online,credit_card
0,25,1,49,91107,4,19.200001,1,0,0,1,0,0,0
1,45,19,34,90089,3,18.000000,1,0,0,1,0,0,0
2,39,15,11,94720,1,12.000000,1,0,0,0,0,0,0
3,35,9,100,94112,1,32.400002,2,0,0,0,0,0,0
4,35,8,45,91330,4,12.000000,2,0,0,0,0,0,1

input va outputlarni tanlash

In [50]:
x=df.drop(columns=['personal_loan'])

In [51]:
y=df['personal_loan']

In [52]:
df.head()

,age,experience,income,zip_code,family,ccavg,education,mortgage,personal_loan,securities_account,cd_account,online,credit_card
0,25,1,49,91107,4,230.399994,1,0,0,1,0,0,0
1,45,19,34,90089,3,216.000000,1,0,0,1,0,0,0
2,39,15,11,94720,1,144.000000,1,0,0,0,0,0,0
3,35,9,100,94112,1,388.799988,2,0,0,0,0,0,0
4,35,8,45,91330,4,144.000000,2,0,0,0,0,0,1

Datalarni train, test, splitga ajratish

In [ ]:
x_train,x_temp,y_train,y_temp=train_test_split(x,y,test_size=0.2,random_state=42)
x_test,x_val,y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

Modelni tanlash va o'rgatish

In [54]:
model=LogisticRegression() # modelni tanlash
Logistic_model=model.fit(x_train,y_train) # modelni x va y train orqali o'rgatish
y_pred = Logistic_model.predict(x_test) # modelni train qilib x_test oxirgi natijani olish
acc=accuracy_score(y_test,y_pred)

klib orqali tayyorlangan data asosidagi modelning natijasi

LogisticRegression model

In [55]:
print("ACC: ",acc)

ACC:  0.91

DesionTreeClassifier model

In [56]:
model=DecisionTreeClassifier()

In [57]:
Decision_model=model.fit(x_train,y_train)
y_pred=Decision_model.predict(x_test)
acc_tree=accuracy_score(y_test,y_pred)

In [58]:
print("ACC_tree: ",acc_tree)

ACC_tree:  0.984